<!DOCTYPE html>
<html lang = 'em'>
<head>
    <meta charset = 'UTF-8'>
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Covactify</title>
</head>

<!BODY>
<body style="background-color: #9c4420">
<!header>
<header class="text-gray-400 bg-gray-900 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
      <img src ="https://serving.photos.photobox.com/38788419cf0d2eba911fe807d6b7f865103459e7a01a038c713c4b14f420476a323ee3c9.jpg" style="height: 50px; width: 50px">
      <span class="ml-3 text-xl">Covactify</span>
    </a>
    <!Buttons On left>
    <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-700	flex flex-wrap items-center text-base justify-center">
      <a href = "/HomeD" class="mr-5 hover:text-gray-900">Home Page</a>
      <a href = "/FactCheckD" class="mr-5 hover:text-gray-900">Fact Check</a>
      <a href = "/AboutUsD" class="mr-5 hover:text-gray-900">About us</a>
      <a href = "/OurAlgorithmD" class="mr-5 hover:text-gray-900">Our Algorithm</a>
    </nav>
    
    <!Dark Mode Button>
    <a href = "/Home">
      <button class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0">LIGHT MODE
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </button>
    </a>
    
    <!Contact Us Button>
    <a href ="/ContactUsD">
      <button class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0">Contact Us
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
      </button>
    </a>
  </div>
</header>

  </div>


<section class="text-gray-400 bg-gray-900 body-font">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">What do we provide?
      </h1>
      <p class="mb-8 leading-relaxed">Covactify is a tool where you can check the credibility of a fact or a website. You can check the credentials of a website like, the owner, the organization it belongs, age of website and other imformation that establith the credibility of a website</p>
      <div class="flex justify-center">
        <a href = "/FactCheckD/WebsiteD">
          <button class="inline-flex text-white bg-orange-500 border-0 py-2 px-6 focus:outline-none hover:bg-orange-600 rounded text-lg">Check the credibility of a Website</button>
        </a>
        <a href = "/FactCheckD/FactD">
          <button class="ml-4 inline-flex text-gray-400 bg-gray-800 border-0 py-2 px-6 focus:outline-none hover:bg-gray-700 hover:text-white rounded text-lg">Check the credibility of a Fact</button>
        </a>
      </div>
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img class="object-cover object-center rounded" alt="hero" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRe1MqegkUx3ovOxT7SKceAzr3_UTJvJ9NqFA&usqp=CAU">
    </div>
  </div>
</section>
<hr>

<section class="text-gray-400 bg-gray-900 body-font">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
      <img class="object-cover object-center rounded" alt="hero" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQT_c7zffRqBdUemEcPAYqCgp6-oUpRzqyHcA&usqp=CAU">
    </div>
    <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">What is Misinformation?
      </h1>
      <p class="mb-8 leading-relaxed">Misinformation is false or inaccurate information. Examples of misinformation include false rumours, or insults and pranks, while examples of more deliberate disinformation include malicious content such as hoaxes, spear phishing and computational propaganda. The terms "misinformation" and "disinformation" have often been associated with the neologism "fake news", defined by some scholars as "fabricated information that mimics news media content in form but not in organizational process or intent"</p>
      <div class="flex justify-center">
      </div>
    </div>
  </div>
</section>

<hr>



<section class="text-gray-400 bg-gray-900 body-font">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div
      class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">Misinformation dring COVID-19 Pandemic
      </h1>
      <p class="mb-8 leading-relaxed">
        Outbreak of the COVID-19 Pandemic has also lead to a spiralling ‘infodemic’ crisis due to widespread spread of
        misinformation and disinformation. Infodemic is an overabundance of information and the rapid spread of misleading or
        fabricated news, images, and videos. Like the virus, it is highly contagious and grows exponentially. It also
        complicates COVID-19 pandemic response efforts. Proliferating misinformation — even when the content is, in a best-case
        scenario, harmless — can have serious and even social and lethal health ramifications in the context of a global
        pandemic. Even as the world is laser-focused on the search for a safe, effective vaccine, misinformation continues to
        spread about immunization as well.
      </p>
      <div class="flex justify-center">
      </div>
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img class="object-cover object-center rounded" alt="hero"
        src="https://media-public.canva.com/Us7iM/MAD35XUs7iM/1/tl.jpg">
</section>



<div style="position: relative; top:-65px; height:200%">
  <section class="text-gray-500 bg-orange-800 body-font">
    <div class="container px-5 py-9 mx-auto">
      <div class="text-center mb-20">
      </div>
      <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
        <div class="p-4 md:w-1/3 md:mb-0 mb-6 flex flex-col text-center items-center">
          <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-gray-800 text-orange-400 mb-5 flex-shrink-0">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
              <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
            </svg>
          </div>
          <div class="flex-grow">
            <h2 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">Secure</h2>
            <p class="text-white text-lg title-font font-medium mb-3">Your Data is secure</p>
          </div>
        </div>
        <div class="p-4 md:w-1/3 md:mb-0 mb-6 flex flex-col text-center items-center">
          <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-gray-800 text-orange-400 mb-5 flex-shrink-0">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
              <circle cx="6" cy="6" r="3"></circle>
              <circle cx="6" cy="18" r="3"></circle>
              <path d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"></path>
            </svg>
          </div>
          <div class="flex-grow">
            <h2 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">Test your Data</h2>
            <p class="text-white text-lg title-font font-medium mb-3">Be sure about the information you read.</p>
          </div>
        </div>
        <div class="p-4 md:w-1/3 md:mb-0 mb-6 flex flex-col text-center items-center">
          <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-gray-800 text-orange-400 mb-5 flex-shrink-0">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
              <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
              <circle cx="12" cy="7" r="4"></circle>
            </svg>
          </div>
          <div class="flex-grow">
            <h2 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">Easy to use</h2>
            <p class="text-white text-lg title-font font-medium mb-3">Just enter the Data and Keywords.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="text-gray-400 bg-gray-900 body-font">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
      <img class="object-cover object-center rounded" alt="hero"
        src="https://media-public.canva.com/jc0ik/MAD0tXjc0ik/1/tl.png">
    </div>
    <div
      class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">Incidents due to Misinformation during COVID-19
      </h1>
      <p class="mb-8 leading-relaxed">
        The infodemic has lead to numerous incidents across the world, effecting the economies of the countries hugely. In some countries, rumours about impending food scarcity prompted people to stockpile supplies early on in the epidemic and caused actual shortages.
      </p>
      <p class="mb-8 leading-relaxed">
      In the United States of America, a person passed away from ingesting a fish tank cleaning product containing chloroquine
      after reports mentioned hydroxychloroquine as a possible - yet unproven - remedy for treatment of COVID-19.
      In the Islamic Republic of Iran, over three hundred people died after drinking methanol alcohol that social media
      messages said had cured others of the coronavirus.
      </p>
      <p class="mb-8 leading-relaxed">
      “Plandemic” a 26-minute conspiracy theory video falsely accuses Dr Anthony Fauci, the leading infectious disease expert
      in the United States, of manufacturing the virus and sending it to China. The same video falsely claims that wearing
      masks will lead to self-infection. More than 8 million people watched the video across social media before it was taken
      down.
    </p>
      <div class="flex justify-center">
      </div>
    </div>
  </div>
</section>

<hr>

<section class="text-gray-400 bg-gray-900 body-font">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">Why is Misinformation spread?
      </h1>
      <p class="mb-8 leading-relaxed">People often spread misinformation for social motivated reasons and for manipulating the public. This might me done to defame a person for political or social reasons. Because of the decentralized nature and structure of the Internet, writers can easily publish content without being required to subject it to peer review, prove their qualifications, or provide backup documentation. </p>
      <div class="flex justify-center">
      </div>
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img class="object-cover object-center rounded" alt="hero" src="https://learnsafe.com/wp-content/uploads/2018/02/Fact-Or-Fake-How-To-Fact-Check-Online-Articles.jpg">
</section>
<hr>

</section>
    </div>
  <section class="text-gray-400 bg-gray-900 body-font">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
      <img class="object-cover object-center rounded" alt="hero" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRETELx4QapqFfu92EDttBmgQdu1jcN2FaxSw&usqp=CAU">
    </div>
    <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">How do we help you?
      </h1>
      <p class="mb-8 leading-relaxed">By providing various credentials of a website like, owner name, organization name, number of domains registered by owner, age of organization and number of abuses detected by an organization, our website makes the people aware of what they are reading. By checking various credible sources, our website also tells the user if or not a particular fact is reliable.</p>
      <div class="flex justify-center">
      </div>
</section>
<hr>

<hr>

<footer class="text-gray-500 bg-gray-900 body-font">
  <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-orange-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl">Covactify</span>
    </a>
    <p class="text-sm text-gray-600 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4">© 2020 Covactify —
      <a href="https://twitter.com/knyttneve" class="text-gray-500 ml-1" target="_blank" rel="noopener noreferrer">Covactify</a>
    </p>
    <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
      <a class="text-gray-600">
        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
          <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
        </svg>
      </a>
      <a class="ml-3 text-gray-600">
        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
          <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
        </svg>
      </a>
      <a class="ml-3 text-gray-600">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
          <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
          <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
        </svg>
      </a>
      <a class="ml-3 text-gray-600">
        <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
          <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
          <circle cx="4" cy="4" r="2" stroke="none"></circle>
        </svg>
      </a>
    </span>
  </div>
</footer>


</body>


</html>